* {
  box-sizing: border-box;
  margin: 0;

  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Colors */
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);

  --grey-600: hsl(180, 25%, 32%);
  --grey-550: hsl(180, 18%, 40%);
  --grey-500: hsl(186, 14%, 43%);
  --grey-400: hsl(184, 14%, 56%);
  --grey-300: hsl(184, 19%, 68%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-50: hsl(189, 47%, 97%);

  --green-900: hsl(183, 100%, 15%);
  --green-800: hsl(183, 85%, 21%);
  --green-750: hsl(183, 79%, 24%);
  --green-400: hsl(172, 67%, 45%);
  --green-200: hsl(173, 61%, 77%);

  --orange-400: hsl(13, 70%, 60%);

  /* Font */
  --form-input-font-size: 24px;
}

.text-preset-1 {
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -1px;
}

.text-preset-2 {
  font-size: 32px;
  line-height: 47px;
  letter-spacing: -0.67px;
}

.text-preset-3 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
}

.text-preset-5 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.text-preset-6 {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0px;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--grey-200);
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 32px;

  background-color: var(--white);
  border-radius: 25px;
}

.section__heading {
  color: var(--grey-500);
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: var(--grey-50);

  border-radius: 5px;

  padding: 8px 16px;
}

.field__input {
  border: 0px var(--grey-50) solid;
  background-color: var(--grey-50);
  text-align: right;

  color: var(--green-900);
}

/* Hide stepper arrows of number input element: Chrome, Safari, Edge, Opera */
.field__input::-webkit-outer-spin-button,
.field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide stepper arrows of number input element: Firefox */
.field__input[type="number"] {
  -moz-appearance: textfield;
}
