* {
  box-sizing: border-box;
  margin: 0;

  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Colors */
  --pri-strong-cyan: hsl(172, 67%, 45%);

  --sec-very-dark-cyan: hsl(183, 100%, 15%);
  --sec-dark-grayish-cyan: hsl(186, 14%, 43%);
  --sec-grayish-cyan: hsl(184, 14%, 56%);
  --sec-light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --sec-white: hsl(0, 0%, 100%);
  --sec-red: hsl(13, 70%, 61%);

  /* Font */
  --form-input-font-size: 24px;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--sec-light-grayish-cyan);
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 481px;
  width: 920px;

  padding: 32px;

  background-color: var(--sec-white);
  border-radius: 25px;
}

#bill-config {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 48%;

  padding: 16px;
}

.section-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: var(--sec-dark-grayish-cyan);
}

.input-error-text {
  color: var(--sec-red);
}

#tip-amount {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  margin-top: 16px;

  height: 112px;
  width: 379px;
}

.tip-amount-predef-value {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px;

  height: 48px;
  width: 117px;

  font-size: 24px;

  color: var(--sec-white);
  background-color: var(--sec-very-dark-cyan);

  border-radius: 5px;
}

.w-100 {
  width: 100%;
}

.pad-r {
  padding-right: 16px;
}

.input {
  color: var(--sec-very-dark-cyan);

  font-size: 24px;

  text-align: right;

  height: 48px;

  border-radius: 5px;
  border: none;
  background-color: var(--very-light-grayish-cyan);
}

.input:focus {
  border: 2px var(--pri-strong-cyan) solid;
  outline: none;
}

.input-icon {
  position: relative;

  margin-top: 6px;
}

.input-icon > img {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  margin-left: 16px;
  text-align: center;
  font-style: normal;
}

/* Remove Arrows/Spinners in input fields */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* For all placeholders in input elements */
.input::placeholder {
  color: var(--sec-grayish-cyan);
}

#custom-tip-amount::placeholder {
  text-align: center;
}

/*  */

#tip-details {
  width: 48%;

  padding: 32px;

  border-radius: 24px;
}
