* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* Colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  /* Spacing */
  --sp-500: 40px;
  --sp-400: 32px;
  --sp-300: 24px;
  --sp-200: 16px;
  --sp-100: 8px;
}

/* Color classes */
.color-white {
  color: var(--white);
}

.color-yellow {
  color: var(--yellow-500);
}

.color-purple {
  color: var(--purple-500);
}

/* Padding */
.p-24 {
  padding: 24px;
}

.p-32 {
  padding: 32px;
}

/* Alignment */
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/* Flex */
.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-align-items-center {
  align-items: center;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-space-between {
  justify-content: space-between;
}

.gap-24 {
  gap: 24px;
}

/* Typography */
.text-preset-1 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 62px;
  font-weight: 500;
  font-style: normal;
  line-height: 93.5%;
  letter-spacing: -3px;
}

.text-preset-2 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  line-height: 90%;
  letter-spacing: -2px;
}

.text-preset-3 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: 87.5%;
  letter-spacing: -2px;
}

.text-preset-4 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 111%;
  letter-spacing: 0px;
}

body {
  background-color: #f6f5f6;

  height: 100vh;
  width: 100vw;

  padding: 8vh 10vw;
}

.bento-grid {
  width: 100%;
  height: 100%;

  display: grid;
  gap: 1.5vw;
  padding: 1vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "content-7 content-1 content-1 content-4"
    "content-7 content-1 content-1 content-4"
    "content-7 content-2 content-3 content-4"
    "content-8 content-2 content-3 content-4"
    "content-8 content-6 content-5 content-5"
    "content-8 content-6 content-5 content-5 ";
}

.bento-box {
  border-radius: 10px;

  display: flex;
}

#content-1 {
  grid-area: content-1;
  background-color: var(--purple-500);
}

#content-2 {
  grid-area: content-2;
  background-color: var(--white);
}

#content-3 {
  grid-area: content-3;
  background-color: var(--yellow-500);
}

#content-4 {
  grid-area: content-4;
  background-color: var(--purple-100);
}

#content-5 {
  grid-area: content-5;
  background-color: var(--purple-500);
}

#content-6 {
  grid-area: content-6;
  background-color: var(--white);
}

#content-7 {
  grid-area: content-7;
  background-color: var(--yellow-100);
}

#content-8 {
  grid-area: content-8;
  background-color: var(--yellow-500);
}

/* img specific id's */
#five-stars {
  height: 32px;
}

#create-post {
  width: 100%;
}
