* {
  box-sizing: border-box;
  margin: 0px;
  font-size: 13px;
}

:root {
  --black: hsl(0, 0%, 7%);
  --dark-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 70%);
  --purple-500: hsl(263, 55%, 52%);
}

.text-preset-1 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
}

.text-preset-2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 110%;
}

.text-preset-3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
}

.text-preset-4 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 11px;
  line-height: 110%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;

  padding: 32px;

  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}

.card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.card__avatar {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px var(--purple-300) solid;
}

.card__quote {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card--purple {
  background-color: var(--purple-500);
}

.card--purple .card__title,
.card--purple .card__name {
  color: var(--white);
}

.card--purple .card__text,
.card--purple .card__status {
  color: var(--purple-50);
}

.card--grey {
  background-color: var(--grey-500);
}

.card--grey .card__title,
.card--grey .card__name {
  color: var(--white);
}

.card--grey .card__text,
.card--grey .card__status {
  color: var(--grey-100);
}

.card--white {
  background-color: var(--white);
}

.card--white .card__name,
.card--white .card__title {
  color: var(--grey-500);
}

.card--white .card__status,
.card--white .card__text {
  color: var(--grey-400);
}

.card--dark-blue {
  background-color: var(--dark-blue);
}

.card--dark-blue .card__name,
.card--dark-blue .card__status {
  color: var(--white);
}

.card--dark-blue .card__title {
  color: var(--grey-200);
}

.card--dark-blue .card__text {
  color: var(--grey-100);
}
