/* Reset */
* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  /* Colors */
  --pri-red: hsl(0, 100%, 67%);
  --pri-org-yellow: hsl(39, 100%, 56%);
  --pri-green-teal: hsl(166, 100%, 37%);
  --pri-cob-blue: hsl(234, 85%, 45%);

  --grad-slate-blue: hsl(252, 100%, 67%);
  --grad-royal-blue: hsl(241, 81%, 54%);
  --grad-violet-blue: hsla(256, 72%, 46%, 1);
  --grad-pers-blue: hsla(241, 72%, 46%, 0);

  --neut-white: hsl(0, 0%, 100%);
  --neut-pale-blue: hsl(221, 100%, 96%);
  --neut-light-lav: hsl(241, 100%, 89%);
  --neut-dark-gray-blue: hsl(224, 30%, 27%);

  /* Font */
  --font-size-para: 18px;
  --font-size-L: 500;
  --font-size-XL: 700;
  --font-size-XXL: 800;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 100vh;

  margin: 0;
}

/* Main styling */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: fit-content;

  border-radius: 20px;

  background-color: hsl(0, 0%, 100%);
  box-shadow: 10px 10px 20px hsl(241, 100%, 89%, 30%);
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 20px;

  height: 80vh;
  height: 500px;
  width: 25vw;

  padding: 2.5em;
}

/* Result */
#result {
  background-color: hsl(241, 81%, 54%);
  background: linear-gradient(
    0deg,
    rgba(46, 43, 233, 1) 0%,
    rgba(120, 87, 255, 1) 100%
  );
}

.result-header {
  font-size: 21px;
  font-weight: 700;
  color: var(--neut-light-lav);
}

.score {
  font-size: 60px;
  font-weight: 800;
  color: var(--neut-white);
}

/* Summary */
.summary-header {
  font-size: 21px;
  font-weight: 700;

  text-align: left;

  width: 100%;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 250px;
}

.category {
  width: auto;

  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
}

.category-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img {
  margin-right: 10px;
}

.category-score {
  color: hsla(224, 30%, 27%, 50%);
}

.category-score span {
  color: hsla(0, 0%, 0%);
}

#continue-btn {
  width: 100%;

  border: none;
  border-radius: 20px;

  padding: 10px;

  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
}

#continue-btn:hover {
  cursor: pointer;
}

/* Color palettes (Background) */
.red-bg {
  background-color: hsla(0, 100%, 67%, 10%);
}

.yellow-bg {
  background-color: hsla(39, 100%, 56%, 10%);
}

.green-bg {
  background-color: hsla(166, 100%, 37%, 10%);
}

.blue-bg {
  background-color: hsla(234, 85%, 45%, 10%);
}

/* Color palettes (Text) */
.red-text {
  color: hsl(0, 100%, 67%);
}

.yellow-text {
  color: hsl(39, 100%, 56%);
}

.green-text {
  color: hsl(166, 100%, 37%);
}

.blue-text {
  color: hsl(234, 85%, 45%);
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
